*  {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/*************************************/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-region {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20vh;
    width: 40vw;

    background-color: white;
}

.bookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  border: 2px solid #ccc;
  padding: 30px;
  width: 95%;
  margin-bottom: 20px;
}

/*************************************/

dialog {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
}

/* Change Dialog’s backdrop */
::backdrop {
    background-image: linear-gradient(
      45deg,
      grey
    );
    opacity: 0.75;
}

/* Open state of the dialog  */
dialog:open {
    opacity: 1;
    transform: scaleY(1);
}
  
/* Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
  opacity 0.7s ease-out,
  transform 0.7s ease-out,
  overlay 0.7s ease-out allow-discrete,
  display 0.7s ease-out allow-discrete;
  /* Equivalent to
  ransition: all 0.7s allow-discrete; */
}
  
/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
  as the specificity is the same */
@starting-style {
  dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}
  
/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}
  
dialog:open::backdrop {
  background-color: rgb(0 0 0 / 25%);
}
  
/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */
  
@starting-style {
  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

/***************/

dialog form {
  width: 25vw;

  font-size: 25px;
  font-weight: bold;
}

dialog > form > div > label,
dialog > form > div > h4 {
  padding-left: 3px;
}

dialog > form > div > label {
  font-weight: bold;
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=number]:focus {
  border: 3px solid blue;
}

/***************/

#radioSet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  border: 2px solid rgb(4, 4, 100);
  margin: 5px;
}

/***************/

#buttonsSet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 5px;
}

#buttonsSet button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;

  color: white;
  opacity: 0.6;
} 

#buttonsSet button:hover {
  opacity: 1;
}

#confirmBtn {
  background-color: #008CBA;
}

#cancelBtn {
  background-color: #f4511e
}

/*************************************/

#showDialogBtn {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
}

#showDialogBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#showDialogBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#showDialogBtn:hover {
  background-color: #008CBA;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#showDialogBtn:hover span {
  padding-right: 25px;
}

#showDialogBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/*************************************/

#emptyLibrary {
  margin: 50px auto;
  font-size: 50px;

  background-color: white;
  border-radius: 5px;
}

/*************************************/

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid purple;

  width: 100%;
}

#tableSpan {
  font-size: 30px;
  margin-bottom: 10px;
  font-style: italic;
}


/* make tbody part scrollable if there are too much row */

#scrollableTable {
  max-height: 450px;
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

thead th {
  position: sticky;
  top: 0;
}

tr {
  scroll-snap-align: start;
}

/* Set the wdth for diffeent table headers */

thead th:nth-child(1) {
  width: 8%;
}
  
thead th:nth-child(2) {
  width: 25%;
}
  
thead th:nth-child(3) {
  width: 40%;
}
  
thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 7%;
}


th,
td {
  border: 1px solid black;
  padding: 6px 8px;
}

thead th {
  font-family: cursive;
  font-size: 25px;
  letter-spacing: 2px;
  background-color: black;
  color: white;

  border-color: black;
}

tbody th {
  background-color: #ccc;
  font-size: 30px;  
}

td {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;

  word-wrap: break-word;
}

.readedBook td{
  background-color: LemonChiffon;
}

.unReadedBook td{
  background-color: LightCoral;
}

table input[type=checkbox] {
  margin: 4px 0;
  line-height: normal;
  width: 30px;
  height: 30px;
}

table img {
  cursor: pointer;
  width: 50px;
}

/*************************************/

#progressInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  gap: 15px;
}

#progressInfo label {
  font-size: 30px;
}

#progressInfo progress {
  width: 100%;
  height: 30px;
}